body{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
h1{
    margin-top: 50px !important;
    background-color: white;
    padding: 10px;
    font-weight: bolder !important;
    border-radius: 5px;
}

img{
    height: 500px !important;
    border-radius: 10px;
    width: 100%;
}